table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ######### Alegreya ######### */

@font-face {
    font-family: 'Alegreya-Medium';
    src: url('../../fonts/Alegreya-2_008/Alegreya-Medium.ttf')
}

/* ######### KA Almouzios ######### */

@font-face {
    font-family: 'KAAlmouziosChronos-Regular';
    src: url('../../fonts/KA Almouzios/KAAlmouziosChronos-Regular.ttf');
}

@font-face {
    font-family: 'KAAlmouziosCombo-Regular';
    src: url('../../fonts/KA Almouzios/KAAlmouziosCombo-Regular.ttf');
}

@font-face {
    font-family: 'KAAlmouziosFthora-Regular';
    src: url('../../fonts/KA Almouzios/KAAlmouziosFthora-Regular.ttf');
}

@font-face {
    font-family: 'KAAlmouziosMain-Regular';
    src: url('../../fonts/KA Almouzios/KAAlmouziosMain-Regular.ttf');
}

@font-face {
    font-family: 'KAAlmouziosMartyria-Regular';
    src: url('../../fonts/KA Almouzios/KAAlmouziosMartyria-Regular.ttf');
}

/* ######### KA Arvanitis ######### */

@font-face {
    font-family: 'KAArvanitisChronos-Regular';
    src: url('../../fonts/KA Arvanitis/KAArvanitisChronos-Regular.ttf');
}

@font-face {
    font-family: 'KAArvanitisMain-Regular';
    src: url('../../fonts/KA Arvanitis/KAArvanitisMain-Regular.ttf');
}

/* ######### KA ED ######### */

@font-face {
    font-family: 'KAEDMain-Regular';
    src: url('../../fonts/KA ED/KAEDMain-Regular.ttf');
}

/* ######### KA EZ ######### */

@font-face {
    font-family: 'KAEZChronos-Regular';
    src: url('../../fonts/KA EZ/KAEZChronos-Regular.ttf');
}

@font-face {
    font-family: 'KAEZFthora-Regular';
    src: url('../../fonts/KA EZ/KAEZFthora-Regular.ttf');
}

@font-face {
    font-family: 'KAEZMain-Regular';
    src: url('../../fonts/KA EZ/KAEZMain-Regular.ttf');
}

@font-face {
    font-family: 'KAEZMartyria-Regular';
    src: url('../../fonts/KA EZ/KAEZMartyria-Regular.ttf');
}

/* ######### KA New Stathis ######### */

@font-face {
    font-family: 'KANewStathisArchaia-Regular';
    src: url('../../fonts/KA New Stathis/KANewStathisArchaia-Regular.ttf');
}

@font-face {
    font-family: 'KANewStathisChronos-Regular';
    src: url('../../fonts/KA New Stathis/KANewStathisChronos-Regular.ttf');
}

@font-face {
    font-family: 'KANewStathisCombo-Regular';
    src: url('../../fonts/KA New Stathis/KANewStathisCombo-Regular.ttf');
}

@font-face {
    font-family: 'KANewStathisFthora-Regular';
    src: url('../../fonts/KA New Stathis/KANewStathisFthora-Regular.ttf');
}

@font-face {
    font-family: 'KANewStathisMain-Regular';
    src: url('../fonts/KANewStathisMain-Regular.ttf');
}

@font-face {
    font-family: 'KANewStathisMartyria-Regular';
    src: url('../fonts/KA New Stathis/KANewStathisMartyria-Regular.ttf');
}
@font-face {
    font-family: 'Siklafidis_Neumes';
    src: url('../fonts/Siklafidis_Neumes.ttf');
}
@font-face {
    font-family: 'Symbola_hint';
    src: url('../fonts/Symbola_hint.ttf');
}


body {
      width: 100%;
      font-family: 'Alegreya-Medium';
      font-size: 20px;
    }

    div {
      text-align: center;
      vertical-align: top;
      letter-spacing: 0;
      /*margin: 0 -2px;*/
      display: inline-block;
      border: 1px solid black;
    }

    dl {
      margin: 0;
      font-size: 0;
    }

    a {
      /*font-family: 'KAAlmouziosMain-Regular';*/
      /* font-family: 'KAArvanitisMain-Regular'; */
     /*  font-family: 'KANewStathisMain-Regular'; */
      font-family: 'Siklafidis_Neumes';
      font-size: 150px;
      /*font-weight: bold;*/
      /*line-height: 80px;*/
      /*position: center;*/
      border: 1px solid red;
      margin: 0px;
    }
p {
    font-family:'Symbola_hint'; 
    font-size: 150px;
    margin: 0px;
    border: 1px solid red;
}
a.intro{

    font-family: 'Alegreya-Medium';
    font-size: 50px; 
}

    dd {
      margin: 0;
      font-size: 35px;
      line-height: 75px;
      max-width: 150px;
      border: 1px solid green;
    }
dt {
      /*font-family: 'KAAlmouziosMain-Regular';*/
      /* font-family: 'KAArvanitisMain-Regular'; */
      font-family:'Symbola_hint'; 
      font-size: 120px;
      /*font-weight: bold;*/
      /*line-height: 80px;*/
     
      border: 1px solid red;
      margin: 0;
      
    }

a.stath {
    font-family:'KANewStathisMain-Regular'; 
    font-size: 120px;
    margin: 0;
}